

Padre:
<h1>
  {{titulo}}
</h1>

<ul>
  <li>Camiseta rosa</li>
  <li>Gorra negra</li>
</ul>

<hr>

<p>
Nombre del parque:
<input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()" />
</p>

<p>
  Resultado: {{nombreDelParque}}
</p>

<div *ngIf="miParque">
  <h4>Datos de mi parque enviados desde el hijo:</h4>
  <ol>
    <li>{{miParque.nombre}}</li>
    <li>{{miParque.metros}}</li>
    <li>{{miParque.vegetacion}}</li>
    <li>{{miParque.abierto}}</li>
  </ol>
</div>

<hr>


<p *ngIf="nombreDelParque">
    Hijo:
    <app-parque [nombre]="nombreDelParque" 
                [metros]="567"
                (pasameLosDatos)="verDatosParque($event)">
    </app-parque>
</p>
