<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>

<a [routerLink]="['/home']">Inicio</a>
<a [routerLink]="['/animales']">Animales</a>
<a [routerLink]="['/cuidadores']">Cuidadores</a>
<a [routerLink]="['/tienda']">Tienda</a>
<a [routerLink]="['/contacto']">Contacto</a>

<span *ngIf="email">Email de contacto: {{email}} <button (click)="borrarEmail()">Eliminar email de contacto</button> <!-- Vaciamos el localstorage --></span>

<hr>

<!-- <app-tienda></app-tienda> -->

<router-outlet></router-outlet>
